<div class='titulo'>
    <h1>Factura</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Id</mat-card-title>
        <mat-card-content>
            <p><strong>Fecha:</strong>01/01/2000</p>
            <p><strong>PrecioTotal:</strong>200.000</p>
            <p><strong>Cliente:</strong>Maria</p>
            <p><strong>Compras:</strong>Compra</p>
        </mat-card-content>
        <mat-card-actions>
            <mat-icon routerLink="/facturas" matTooltip="Volver" fontIcon="arrow_back"></mat-icon>
        </mat-card-actions>
    </mat-card>
</div>