<div class="titulo">
    <h1>Agregar Compra</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <mat-card class="card">
        <mat-card-subtitle>
            Datos Compra
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarEditarCompra()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-icon fontIcon=paid></mat-icon>
                    <mat-form-field appearance="outline">
                        <mat-label>PrecioPagar</mat-label>
                        <input type="number" formControlName="precioPagar" matInput placeholder="Precio" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-icon fontIcon=category></mat-icon>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad</mat-label>
                        <input type="number" formControlName="cantidad" matInput placeholder="Cantidad" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-icon fontIcon=tag></mat-icon>
                    <mat-form-field appearance="outline">
                        <mat-label>FacturaId:</mat-label>
                        <input type="number" formControlName="facturaId" matInput placeholder="Ej. 1" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-icon fontIcon=tag></mat-icon>
                    <mat-form-field appearance="outline">
                        <mat-label>ProductoId:</mat-label>
                        <input type="number" formControlName="productoId" matInput placeholder="Ej. 1" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <button mat-button routerLink="/compras">
                        <mat-icon>arrow_back</mat-icon>
                        Volver
                    </button>
                    <button [disabled]="form.invalid" type="submit" mat-button color="accent">
                        <mat-icon>task_alt</mat-icon>
                        Aceptar
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>

