<div class='titulo'>
    <h1>Producto</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="producto != null" class="container">
    <mat-card class="card">
        <mat-card-title>Producto Id: {{producto.productoId}}</mat-card-title>
        <mat-card-content>
            <p><strong>Nombre:</strong>{{producto.nombre}}</p>
            <p><strong>Precio:</strong>{{producto.precio}}</p>
            <p><strong>Cantidad:</strong>{{producto.cantidad}}</p>
        </mat-card-content>
        <mat-card-actions>
            <mat-icon routerLink="/facturas" matTooltip="Volver" fontIcon="arrow_back"></mat-icon>
        </mat-card-actions>
    </mat-card>
</div>