<div class='titulo'>
    <h1>Factura</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Id</mat-card-title>
        <mat-card-content>
            <p><strong>Nombre:</strong>Undertale</p>
            <p><strong>Precio:</strong>120000</p>
            <p><strong>Cantidad:</strong>50</p>
            <p><strong>Compra:</strong>Compra</p>
        </mat-card-content>
        <mat-card-actions>
            <mat-icon routerLink="/facturas" matTooltip="Volver" fontIcon="arrow_back"></mat-icon>
        </mat-card-actions>
    </mat-card>
</div>