<div class="titulo">
    <h1>Productos</h1>
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
        </ng-container>

        <!-- Precio Column -->
        <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
        </ng-container>        

        <!-- Compras Column -->
        <ng-container matColumnDef="Compra">
            <th mat-header-cell *matHeaderCellDef> Compra </th>
            <td mat-cell *matCellDef="let element"> {{element.Compra}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef>
                <button routerLink="/agregarproducto" class="agregar" mat-raised-button color="primary">Agregar</button>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon routerLink="/verproducto/1" matTooltip="Ver" class="search" fontIcon="search"></mat-icon>
                <mat-icon routerLink="/editarproducto/1" matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>
                <mat-icon (click)="eliminarProducto()" matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>