<div class="titulo">
    <h1><strong>Prueba Técnica Digital Ware</strong></h1>
    <h2>Aplicación de Facturación Ophelia</h2>
    <h3>Desarrollado por María José Torres Nieves</h3>
</div>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile id="gridOne">
        <button mat-button routerLink="/clientes">
            <mat-icon>face</mat-icon>
            Clientes
        </button>
    </mat-grid-tile>
    <mat-grid-tile id="gridTwo">
        <button mat-button routerLink="/facturas">
            <mat-icon>receipt_long</mat-icon>
            Facturas
        </button>
    </mat-grid-tile>
    <mat-grid-tile id="gridThree">
        <button mat-button routerLink="/compras">
            <mat-icon>shopping_cart</mat-icon>
            Compras
        </button>
    </mat-grid-tile>
    <mat-grid-tile id="gridFour">
        <button mat-button routerLink="/productos">
            <mat-icon>inventory</mat-icon>
            Productos
        </button>
    </mat-grid-tile>
</mat-grid-list>